@page
@model FlushCacheModel
@{
    ViewData["Title"] = "Home page";
}

<p>
Deleted records in Score cache: @Model.DbCountSC<br/><br/><br/>
Deleted records in Score breakdown: @Model.DbCountBD
</p>

