@page 
@model GccModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Config overview</h2>



<table class="table">

<tbody>
    <tr><td>Load Gccs</td></tr>
    <tr><td>Load Gccs</td></tr>
</tbody>

</table>
