@page 
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Config overview</h2>



<table class="table">
<tbody>
        <tr><td><a asp-page="/Config/LoadGCC">Load Gccs</a></td></tr>
    <tr><td><a asp-page="/Config/LoadPG">Load Pay groups</a></td></tr>
</tbody>

</table>
