html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;

}

h1 {
  font-weight: 700;
}

td.amber {
  color: orange
}

td.lightgreen  {
  color: #00df72;
}

td.mig {
  background-color:  #00df72;
}

td.Closed, td.Blackout {
  background-color: #e1ddd7;
}

td.green  {
  color: #00df72;
}

td.Open {
  background-color: #D9FFE0;
}
/* 
td.Blackout, td.Payslip {
 background-color: #c6d6ff;
  color: black;
}
*/
td.Payslip {
 background-color: #c6d6ff;
  color: black;
}

td.PreviewPayroll {
  background-color: #c6d6ff;
  color: black;
}

td.PreviewCutOff {
  background-color: #c6d6ff;
}

td.PYstart, td.PYend {
  background-color: bisque;
}

td.red, th.red {
  color: red;
}

td.Paydate {
  background-color: #c6d6ff;
}

td.nodata {
  background-color: #e1ddd7;
}

td.CutOff {
  background-color: #6647E5;
}

table.table td,th {
  border:1px solid black;
}

table.small {
  width: 50%;
}

body {
  margin-bottom: 60px;
  font-family: Aptos, sans-serif;
}