@page
@model MonthviewModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Overview by month of non-migrated clients</h2>



@foreach(var x in Model.Res) {
  <table class="table small">
  <tr><td colspan="2"><b>@Model.FormatMonth(x.Key)</b></td></tr>

  @foreach(var n in x) {
    <tr><td>@n.Gcc</td><td>@n.Name</td></tr>
  }
 
   </table><hr>
}



<a asp-page="/Index">Back</a>
